.band {
    background-color: rgb(7, 44, 10);
    background-image: linear-gradient(to right, rgb(0, 28, 0), rgb(7, 44, 10), rgb(0, 28, 0));
    border-top: 5px solid rgb(212, 190, 143);
    border-bottom: 5px solid rgb(212, 190, 143);
    width: 100%;
  }