.content {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-section {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-text {
  padding: 0px 100px;
  font-family: "Bangers", cursive;
  font-size: 50px;
  color: white;
  text-align: center;
}

@media (max-width: 1000px), (max-height: 850px){
  .content-text {
    font-size: 45px;
  }
}

@media (max-width: 900px), (max-height: 830px){
  .content-text {
    font-size: 40px;
  }
}

@media (max-width: 800px){
  .content-text {
    font-size: 35px;
  }
}

@media (max-width: 700px), (max-height: 750px){
  .content-text {
    font-size: 30px;
  }
}

@media (max-width: 600px), (max-height: 520px){
  .content-text {
    padding: 0px 50px;
    font-size: 30px;
  }
}

@media (max-width: 500px), (max-height: 470px){
  .content-text {
    font-size: 25px;
  }
}

@media (max-width: 450px), (max-height: 420px){
  .content-text {
    padding: 0px 25px;
    font-size: 20px;
  }
}

@media (max-height: 280px){
  .content {
    margin-top: 20px;
  }
  .content-text {
    padding: 0px 25px;
    font-size: 16px;
  }
}