.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  
  .social-icon {
    display: flex;
    padding: 5px;
    justify-content: inherit;
    align-items: inherit;
    width: 100%;
    margin-top: 0px;
    height: 85px;
    /* background-color: aqua; */
  }
  
  .footer-text {
    color: white;
    font-family: 'Anton', sans-serif;
    /* -webkit-text-stroke: 1px black; */
    /* font-family: 'Rubik Mono One', sans-serif; */
    /* background-color: red; */
    font-size: 20px;
    /* font-weight: bold; */
    margin-top: -10px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
  }
  
  @media (max-height: 800px), (max-width: 700px) {
    .social-icon {
      /* height: 85px; */
      padding: 0px;
    }
  
    .footer-text  {
      font-size: 15px;
      height: 20px;
      margin-top: -7px;
    }
  }
  
  @media (max-width: 600px) {
    .social-icon {
      /* height: 85px; */
      padding: 0px;
    }
    
  }

  @media (max-width: 480px) {
    .social-icon {
      height: 70px;
    }
    
    .social-icon-text {
      font-size: 10px;
    }
  
    .footer-text  {
      font-size: 15px;
      height: 20px;
      margin-top: -5px;
      margin-bottom: 8px;
    }
  }